<%- include('./layout/head') %>

  <body>

    <%- include('./layout/header') %>

      <section class="videoSection">
        <video src="../../img/around  world.mp4" muted autoplay loop></video>
        <h1>
          <%=cityName %> Details
        </h1>
      </section>

      <section style="background-color:  #177777; ">
        <% let IconsImg ; %>
          <h3>
            <%=cityName%>
          </h3>
          <% arrayOfWeather.forEach(value=>{%>
            <p>
              <%=value.time %>
            </p>
            <img src=<%=value.IconsImg %> alt="">
            <p>
              <%=value.forecast %>
            </p>
            <% }) %>



              <% if ( arrayOfWeather.icon=="t01d" || "t01n" ||"t02d" ||"t02n"|| "t02d" ||"t02n"||"t03d" ||"t03n"||"t04d"
                ||"t04n"||"t05d" ||"t05n" )
                {IconsImg="https://www.flaticon.com/svg/vstatic/svg/365/365235.svg?token=exp=1615292526~hmac=479d398e6e7e4691dfc8cd5262958fff"
                ;}%>
                <% else if(arrayOfWeather.icon=="d01d" || "d01n" ||"d02d" ||"d02n"|| "d02d" ||"d02n"||"d03d" ||"d03n")
                  {IconsImg="https://www.flaticon.com/svg/vstatic/svg/365/365231.svg?token=exp=1615293392~hmac=b94c835d1528affb985f0e93a6069f4f"
                  ; } %>
                  <% else if(arrayOfWeather.icon=="r01d" || "r01n" ||"r02d" ||"r02n"|| "r02d" ||"r02n"||"r03d"
                    ||"r03n")
                    {IconsImg="https://www.flaticon.com/svg/vstatic/svg/365/365224.svg?token=exp=1615293392~hmac=9864bd038ec71d2898aa49425a69c6d1"
                    ; } %>
                    <% else if(arrayOfWeather.icon=="r01d" || "r01n" ||"r02d" ||"r02n"|| "r02d" ||"r02n"||"r03d"
                      ||"r03n")
                      {IconsImg="https://www.flaticon.com/svg/vstatic/svg/365/365224.svg?token=exp=1615293392~hmac=9864bd038ec71d2898aa49425a69c6d1"
                      ; } %>



      </section>
      <section class="CitySection">
        <h1>Take a Look at this beauty </h1>
        <div class="cityImg">

          <% arrOfImages.forEach(value=>{%>

            <img src=<%=value %> alt="">
            <% }) %>

        </div>
      </section>
      <section class="mapSec">
        <h1>Let us guide you to <%=cityName %>
        </h1>
        <iframe id="gmap_canvas"
          src="https://maps.google.com/maps?q=<%=cityName %> &t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </section>


      <!-- DO NOT TOUCH THIS COMMENTED CODE -->
      <!-- 
      <form action="/sentences" method="post">
  <input type="text" name="testInput" value="Hello">
  <button>Test APi</button> -->

      <!-- <button ><a>get Hotels</a></button> -->
      <!-- <input type="date" name="checkIn" required>
  <input type="date" name="checkout" required> -->


      <section class="hotelsSec">

        <h1> Best Hotels , Best Prices</h1>
      </section>
      <section class="hotelsDiv">
        <div class="container3">
          <% hotels.forEach(value=> { %>
            <div class="card3">
              <div class="imgBx3">
                <img src="<%= value.hotel_images.split(',')[1] %> " alt="">
              </div>
              <div class="content3">
                <p>
                  Rate : <%= value.star_rating %>
                </p>
                <p>
                  Price : <%= value.price%>
                </p>
                <button><a href="/hotel_details/<%= value.hotel_id%>" class="link">Details</a></button>
              </div>
              <h2 class="hotelName">
                <%= value.hotel_name %>
              </h2>
            </div>

            <% }) %>
        </div>

      </section>

      </form>



      <%- include('./layout/footer') %>
  </body>

  </html>