<%- include('./layout/head') %>

  <body>

    <%- include('./layout/header') %>

      <section class="CitySection">
        <div class="cityImg">

          <% arrOfImages.forEach(value=>{%>

            <img src=<%=value %> alt="">
            <% }) %>

        </div>
        <iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=<%=cityName %> &t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </section>


      <!-- DO NOT TOUCH THIS COMMENTED CODE -->
<!-- 
      <form action="/sentences" method="post">
  <input type="text" name="testInput" value="Hello">
  <button>Test APi</button> -->

  <!-- <button ><a>get Hotels</a></button> -->
  <!-- <input type="date" name="checkIn" required>
  <input type="date" name="checkout" required> -->

  <% hotels.forEach(value=> { 
    // console.log(value);
    %>
    <h4><%= value.hotel_name %> </h4>
    <button><a href="/hotel_details/<%=value.hotel_id%>">Details</a></button>
  <% }) %> 


</form>
      <%- include('./layout/footer') %>
  </body>

  </html>